
/shared
local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
/content/plugins/
/content/uploads/
/content/backups*/
/vendor
/content/mu-plugins/
/content/envato-backups/
/content/cache/
/wp
/content/plugins_backup
composer.lock
.gitmodules
wp-config.php
/extra
